<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muserpol.pvt">


    <!-- PERMISOS -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    <!-- Permisos para el acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permisos para el uso de la camara en el dispositivo -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permisos para el uso de la autenticacion biometrica -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permiso para notificaciones push en Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Permiso que utilizan las librerias de Google Play Services (Firebase) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <!-- INTENTOS DE CONSULTA -->
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <!-- Intent para abrir archivos PDF -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>

    <!-- APLICACIÓN -->
    <!-- android:usesCleartextTraffic="false" exclusivo para rutas https -->
    <!-- android:usesCleartextTraffic="true" para rutas http o https -->
    <application
        android:label="MUSERPOL PVT"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:fullBackupContent="@xml/backup_rules">

        <!-- Firebase config -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- FLUTTER ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- UID unico para la aplicacion movil y comunicarse con otras aplicaciones -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.muserpol.pvt"
                    android:path="/oauth2redirect" />
            </intent-filter>
        </activity>

        <!-- Flutter embebido -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- HTTP legacy support -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!-- Firebase Messaging -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

    </application>
</manifest>